@font-face{
    font-family:'Titillium Web', sans-serif;
    src: url(./src/TitilliumWeb-Regular.ttf);
}

html{
    font-size:30px;
    margin: auto;
    font-family:'Titillium Web';
    color:antiquewhite;
    background-color:rgb(40, 44, 52);
    scroll-snap-type: y mandatory;
}

.pagediv-item{
    position:relative;
    width:98vw;
    height:98vh;
    margin: auto;
    scroll-snap-align: center;
}

/*.pagediv-item+.pagediv-item{
        margin-top: 4%;
        margin-bottom: 2%;
}*/

.y-center{
    /*relative, to the container element.*/
    position: relative;
    margin-left: 6%;
    top: 50%;
    bottom: 50%;
}

.y-center-r{
    /*relative, to the container element.*/
    position: relative;
    text-align: right;
    margin-right: 6%;
    top: 50%;
    bottom: 50%;
}



/*===================================================================*/

/*

-header: 60px
-textctnt/subheader: inherited (20px from root)
-subtext: 0.8rem?

>must standardise as finishing touch

*/


.header-funny{
    font-size:60px;
    animation-duration: 0.04s;
    animation-iteration-count: infinite;
}

.header{
    font-size:50px;
}

.header-funny:hover{
    animation-name:hahafunny;
}

@keyframes hahafunny{
    0% {font-size:60px;}
    50% {font-size:80px;}
    100% {font-size:60px;}
}

.subscript{
    font-size: .3rem;
}

.textctnt{
    font-size: .6rem;
}


.reactive-textctnt{
    transition: 0.6s;
}



.reactive-textctnt-subtext{
    transition: 0.6s;
}


[class*="reactive-"]:hover{
    font-size:1.1rem;
    text-shadow:0px 0px 5px rgb(237,237,237);    
}
