@font-face {
    font-family: 'titillium_webregular';
    src: url('./src/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('./src/titilliumweb-regular-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;
}

:root{
    /*master font size defined as 25px, REM makes adjustments carefree*/
    font-size: 140%;
    margin-left: 5rem;
    margin-right: 5rem;
    font-family: 'titillium_webregular';
    color: white;
    background-color: rgb(11, 13, 15);
    --background-col2: rgba(11, 23, 45, 0.15);
    scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: y mandatory;
    overflow-y: scroll;
    -webkit-text-decoration-color: rgba(255, 255, 255, 0.4);

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas.pageend{margin-left: -5rem; margin-right: -5rem; width: 99vw; height: 100vh; position: absolute; bottom: 0; z-index: -1000;}


body::-webkit-scrollbar{width: 0.25rem;}
body::-webkit-scrollbar-track{background: rgb(46, 50, 58);}
body::-webkit-scrollbar-thumb{background: rgb(62, 66, 73);}

.pagediv-item{
    position: relative;
    width: 100%; max-width: 100%;
    height: 75vh;
    scroll-snap-align: center;
}

.pagediv-item:first-of-type {height: 100vh;}
.pagediv-item:last-of-type {height: 100vh;}

.pagediv-item:not(:last-child) {border-bottom: 5px solid rgba(46, 50, 58, 0.15);}
.pagediv-item:nth-child(even) {background-color: var(--background-col2);}


/*=============================ANIMATIONS===========================*/


[class*="y-center"]{
    position: relative;
    top: 45%;
    max-height: 100%;
    transform: translate(0%, -45%);
    --x-dir-margin: 6%;
}

.y-center{margin-left: var(--x-dir-margin);}
.y-center-r{text-align: right; margin-right: var(--x-dir-margin);}

.header-funny{
    font-size: 2.3rem;
    animation-duration: 0.04s;
    animation-iteration-count: infinite;
}

.header{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.header2{
    font-size: 1.2rem;
    text-decoration: underline;
}

.header-funny:hover{animation-name:hahafunny;}

:link{
    color: var(--pagecolor);
    animation-name: glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
:visited{
    color: var(--pagecolor);
    animation-name: glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


/*
first keyframe experiment: giving seizures for the funny
*/

@keyframes hahafunny{
    0% {font-size: 2.3rem;}
    50% {font-size: 3rem;}
    100% {font-size: 2.3rem;}
}

@keyframes glow{
    0%{text-shadow: 0px 0px 12px rgb(255,255,255)}
    50%{text-shadow: 0px 0px 2px rgb(255,255,255)}
    100%{text-shadow: 0px 0px 12px rgb(255,255,255)}    
}

.subscript{font-size: .3rem;}
.textctnt{font-size: 1rem; margin-top: 1%;}
.reactive{transition: 0.5s;}

.emphasis{
    animation-name: glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.reactive:hover{
    font-size: 1.05rem;
    text-shadow: 0px 0px 5px rgb(237,237,237);    
}


/*===================================================================*/


/*

implement: projects
sects: complete/incomplete
faded, clarify when moused over
#reactives

possible animated autoscroll

*/

span {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contctr{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.ctntcard{
    margin: 0.7rem;
    padding: 2rem;
    width: 40%;
    opacity: 10%;
    border-radius: 1%;
    box-shadow: 0 0 3pt 2pt rgba(255, 255, 255, 0);
    background-color: rgba(21, 23, 25, 0.15);
    flex: 1;
    transition: 1s;
}

.ctntcard:hover {
    opacity: 100%;
    transform: matrix(1.05, 0.01, -0.015, 1.05, 2, 10);
    box-shadow: 0 0px 0px 10 rgba(255, 255, 255, 20);
    animation-name: cardEmphasis;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
}

@keyframes cardEmphasis{
    0%{box-shadow: 0 0 2pt 2pt rgba(255, 255, 255, 0.4);}
    50%{box-shadow: 0 0 8pt 2pt rgba(255, 255, 255, 0.4);}
    70%{box-shadow: 0 0 15pt 2pt rgba(255, 255, 255, 0.4);}
    100%{box-shadow: 0 0 1pt 2pt rgba(255, 255, 255, 0.4);}
}


.ctnt-container{
    display: flex;
    flex-direction: row;
}


/*==============================mtrx=================================*/


.panel{
    width: 85vw;
    height: 75%;
    padding: 0.7rem;
    border-radius: 2px;
    box-shadow: 0 0 2pt 0.3pt rgba(0, 0, 0, 0.2);
    background-color: rgb(23, 23, 23);
    outline: 2px solid rgb(25, 25, 25);

}

.preview-ctnr{
    float: right;
    width: 60%;
    height: 100%;
    border-radius: 2px;
}

.preview-div{
    margin: auto;
    opacity: 70%;
    padding: 1rem;
    width: 30%;
    height: 10%;
    background-color: blue;
    outline: 2px solid darkblue;
}

.canvas{
    background-color: rgb(40, 42, 54);
    padding: 3rem;
    margin: 0.5rem;
    height: 40vh;
    outline: 2px solid rgb(170, 170, 170)
    
}

.modify-ctrl{
    float: left;
    width: 40%;
    height: 100%;
    border-radius: 2px;
}

.slider{
    width: 70%;
    height: 30%;
    opacity: .4;
}

.slider:hover{
    opacity: 1;
}

.slider-ctnr{
    padding: 0.7rem;
    width: 100%;
}

kbd {
    font-size: 0.62rem;
}
