@font-face{
    font-family:'Titillium Web', sans-serif; 
    src: url(src/TitilliumWeb-Regular.eot);
    src: url(src/TitilliumWeb-Regular.eot?#iefix) format('embedded-opentype'),
        url(src/TitilliumWeb-Regular.woff2) format('woff2'),
        url(src/TitilliumWeb-Regular.woff) format('woff'),
        url(src/TitilliumWeb-Regular.svg#TitilliumWeb-Regular) format('svg'), 
        url(src/TitilliumWeb-Regular.ttf) format("truetype");
    font-display: swap;
}

:root{
    /*master font size defined as 25px, REM makes adjustments carefree*/
    font-size: 25px;
    margin: auto;
    font-family: 'Titillium Web';
    color: white;
    background-color: rgb(11, 13, 15);
    scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
    overflow-y: scroll;
    -webkit-text-decoration-color: rgba(255, 255, 255, 0.4);
}


body::-webkit-scrollbar{width: 0.25rem;}
body::-webkit-scrollbar-track{background: rgb(46, 50, 58);}
body::-webkit-scrollbar-thumb{background: rgb(62, 66, 73);}

.pagediv-item{
    position: relative;
    width: 98vw;
    height: 100vh;
    scroll-snap-align: start;
}


/*=============================ANIMATIONS===========================*/


.y-center{margin-left: var(--x-dir-margin);}
.y-center-r{text-align: right; float: right; margin-right: var(--x-dir-margin);}

[class*="y-center"]{
    position: relative;
    top: 45%;
    transform: translate(0%, -45%);
    --x-dir-margin: 6%;
}


.header-funny{
    font-size: 2.3rem;
    animation-duration: 0.04s;
    animation-iteration-count: infinite;
}

.header{
    font-size: 1.6rem;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.header2{
    font-size: 1.2rem;
    text-decoration: underline;
}

.header-funny:hover{animation-name:hahafunny;}
.header:hover{animation-name:underlined;}

:link{
    color: var(--pagecolor);
    animation-name: glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
:visited{
    color: var(--pagecolor);
    animation-name: glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


/*
first keyframe experiment: giving seizures for the funny
*/

@keyframes hahafunny{
    0% {font-size: 2.3rem;}
    50% {font-size: 3rem;}
    100% {font-size: 2.3rem;}
}

@keyframes underlined{
    0% {text-decoration: none; text-decoration-color: rgba(255, 255, 255, 0.2);}
    50% {text-decoration: underline;}
    100% {text-decoration: none; text-decoration-color: rgba(255, 255, 255, 0.2);}   
}

@keyframes glow{
    0%{text-shadow: 0px 0px 12px rgb(255,255,255)}
    50%{text-shadow: 0px 0px 2px rgb(255,255,255)}
    100%{text-shadow: 0px 0px 12px rgb(255,255,255)}    
}

.subscript{font-size: .3rem;}
.textctnt{font-size: 1rem;}
.reactive-textctnt{transition: 0.5s;}
.reactive-textctnt-subtext{transition: 0.5s;}
.emphasis{
    animation-name: glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


[class*="reactive-"]:hover{
    font-size: 1.1rem;
    text-shadow: 0px 0px 5px rgb(237,237,237);    
}


/*===================================================================*/


/*

implement: projects
sects: complete/incomplete
faded, clarify when moused over
#reactives

possible animated autoscroll

*/

.contctr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%
}

.ctntcard{
    margin: 2%;    
    width: 40%;
    height: 50%;
    opacity: 10%;
    border-radius: 14px;
    box-shadow: 0 0 3pt 2pt rgba(255, 255, 255, 0.2);
    background-color: rgb(23, 23, 23);
    display: inline-block;
    transition: 1s;
    animation-name: cardEmphasis;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
}

@keyframes cardEmphasis{
    0%{box-shadow: 0 0 3pt 2pt rgba(255, 255, 255, 0.4);}
    50%{box-shadow: 0 0 10pt 2pt rgba(255, 255, 255, 0.4);}
    70%{box-shadow: 0 0 17pt 2pt rgba(255, 255, 255, 0.4);}
    100%{box-shadow: 0 0 2pt 2pt rgba(255, 255, 255, 0.4);}
}

.ctntcard:hover{
    opacity: 100%;
    transform: matrix(1.05, 0.02, -0.03, 1.05, 0, 20);
    box-shadow: 0 0px 0px 10 rgba(255, 255, 255, 20);
    animation-name: none;
}

.ctnt-container{
    margin: 0.7rem;
}


/*===================================================================*/


.panel{
    width: 85vw;
    height: 75%;
    padding: 0.7rem;
    border-radius: 2px;
    box-shadow: 0 0 2pt 0.3pt rgba(0, 0, 0, 0.2);
    background-color: rgb(23, 23, 23);
    outline: 2px solid rgb(25, 25, 25);

}

.preview-ctnr{
    float: right;
    width: 60%;
    height: 100%;
    border-radius: 2px;
}

.preview-div{
    opacity: 70%;
    padding: 1rem;
    width: 30%;
    height: 10%;
    background-color: blue;
    outline: 2px solid darkblue;
}

.canvas{
    background-color: rgb(40, 42, 54);
    padding: 3rem;
    margin: 0.5rem;
    height: 40vh;
    outline: 2px solid rgb(170, 170, 170)
    
}

.modify-ctrl{
    float: left;
    width: 40%;
    height: 100%;
    border-radius: 2px;
}

.slider{
    width: 70%;
    height: 30%;
    opacity: .4;
}

.slider:hover{
    opacity: 1;
}

.slider-ctnr{
    padding: 0.7rem;
    width: 100%;
}

kbd {
    font-size: 0.6rem;
}
